:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white-paragraphs: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Lexend Deca', sans-serif;
    /*font-family: 'Big Shoulders Display', cursive;*/
    background-color: var(--very-light-gray);
}
main {
    width: 100%;
    min-height: 90vh;
    display: grid;
    place-content: center;
    padding: 40px 20px;
}

/*Card Styles*/

.card-main-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 8px;
    overflow: hidden;
}
.cars-type-sedans,
.cars-type-suvs,
.cars-type-luxury {
    display: grid;
    padding: 52px;
}
.cars-type-sedans {
    grid-row: 1;
    background-color: var(--bright-orange);
}
.cars-type-suvs {
    grid-row: 2;
    background-color: var(--dark-cyan);
}
.cars-type-luxury {
    grid-row: 3;
    background-color: var(--very-dark-cyan);
}
h3 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 4rem;
    font-weight: 700;
    line-height: 3.6rem;
    text-transform: uppercase;
    color: var(--very-light-gray);
    margin: 32px 0;
}
p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: var(--transparent-white-paragraphs);
    margin-bottom: 32px;
}
.button-sedans,
.button-suvs,
.button-luxury {
    width: 140px;
    height: auto;
    background-color: var(--very-light-gray);
    border: 2px solid var(--very-light-gray);
    border-radius: 50px;
    padding: 12px 24px;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
}
.button-sedans {
    color: var(--bright-orange);
}
.button-suvs {
    color: var(--dark-cyan);
}
.button-luxury {
    color: var(--very-dark-cyan);
}
.button-sedans:hover,
.button-suvs:hover,
.button-luxury:hover {
    background-color: transparent;
    color: var(--very-light-gray);
    cursor: pointer;
}

/*Footer Styles*/

footer {
    width: 100%;
    min-height: 10vh;
    display: grid;
    place-content: center;
    padding: 20px 20px;
}
.paragraph-footer {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #222222;
    text-align: center;
}
a {
    color: var(--bright-orange);
}